/*stylesheet for insta api demo*/

$black: #000000;
$white: #ffffff;
$red: tomato;

/*
    insta colors
    http://www.color-hex.com/color-palette/20465
    https://brandcolors.net/b/instagram

*/

*{
    padding:0;
    margin:0;
}

body{
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color:$red;
    width:100%;
    height:100%;
}


.insta{
    max-width:1200px;
    margin:0 auto;
    padding:0 10px;
}

.main{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(232px,1fr/*232px*/));
    grid-auto-rows:232px;
    grid-gap:10px;
}


.image{

     &__tag{
        padding:5px;
        color: $white;
        display:none;
     }

    &__item{

         background-size:cover;
         background-repeat:no-repeat;
         background-position:center center;
         width:100%;
         height:100%;

        &:hover .image__tag{
             background-color:tomato;
             display:block
         }
     }
}


.header{
    height:50px;
    position:relative;
    margin-top:25px;
    &__profile{
        position:absolute;
        right:0;
        top:5px;
    }

    &__profImg{
        width:54px;
        clip-path:circle(50%);
    }

}

