/*stylesheet for insta api demo*/

$tomatored: #cccccc;

body{
    font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
    color:$tomatored;
}

img{
    padding:20px;
}

ul,li{
    list-style: none;
}